/****
  * Main CSS file
  *
  *
  */

body{
  background-color: #fffaf0;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.nav-button-container{
  margin: 1em;
}

.nav-button{
  background: transparent;
  border: none;
}

.nav-button-border{
  border-color: #fffaf0;
  border-width: 1px;
  width: 0;
  border-style: solid;
  transition: width 1s ease-in-out, border-color 1s ease-in-out;
  /*-webkit-transition: border-color 0.5s ease-in-out;
  -moz-transition: border-color 0.5s ease-in-out;
  -o-transition: border-color 0.5s ease-in-out;
  transition: border-color 0.5s ease-in-out;*/
}

.nav-button-container:hover .nav-button-border{
  border-color: #db7093;
  width: 100%;
}

.section-content{
  display: flex;
  flex-direction: column;
  margin-top: 10em;
  margin-left: 10em;
  margin-right: 10em;
}

.hide-section{
  display: none;
}

.home-intro{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
/*  align-items: center;*/
}

.bio-link{
  color: inherit;
}

.bio-link:hover{
  color: inherit;
}

.bio-link:visited{
  color: inherit;
}

.paper-link{
  color: inherit;
}

.paper-link:hover{
  color: inherit;
}

.paper-link:visited{
  color: inherit;
}

.profile-img{
  border-radius: 50%;
  width: 20vw;
}

.research-interests{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.publication-list{
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media screen and (max-width: 480px){
  .section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .hide-section{
    display: none;
  }

  .home-intro{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .profile-img{
    border-radius: 50%;
    width: 65vw;
  }

  .research-interests{

  }
}

.particle{
  filter: blur(20px);
  border-radius: 50%;
  position: absolute;
  height: 5vh;
  width: 5vw;
  z-index: -1;
  animation: rotation 5s infinite linear, move-vertical 3s infinite ease-in-out;
/*  animation: move 10s infinite linear;*/
}

/*@keyframes move-horizotal { 0%{ transform: ; } 100%{ transform: ; }}*/

@keyframes move-vertical {
  0%{ transform: translateY(0vh) translateX(0vw); }
  50%{ transform: translateY(20vh) translateX(50vw); }
  100%{ transform: translateY(0vh) translateX(100vw); }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*body{
  background-image: url("../static/images/blue_aqua_turquoise.png");
  background-repeat: inherit;
  background-size: inherit;
}

#navbar{
  background-color: #7fffd4;
  margin-bottom: 20px;
}

.card {
  cursor: pointer;
  background-color: #faebd7;
}

.card-img-top {
  border-radius: 5%;
}

#popup_background{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
#popup_background #popup_helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
#popup_content {
    background-color: #fff;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
*/
